#page-wrap {
    min-height: 100%;
    margin-bottom: -$footer-height; 
    clear: both;
    min-height: calc(100% - #{$header-height});
}
#page-wrap:after {
    content: "";
    display: block;
}
footer, #page-wrap:after {
    height: $footer-height; 
}
footer {
    background: orange;
}