nav {
    button {
        float: right;
        display: block;
        background: transparent;
        text-indent: -2000em;
        width: 45px; // 32
        height: 40px; //25
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    button::after {
        background: none repeat scroll 0 0 #fff;
        box-shadow: -4px 10px 0 #fff, 0 20px 0 #fff;
        content: "";
        height: 5px;
        left: 16%;
        position: absolute;
        top: 7px;
        width: 78%;
    }
    ul {
        width: 100%;
        text-align: right;
        display: none;
    }
    li {
        list-style-type: none;
        display: inline-block;
        margin: 0 7px;
        color: $font-nav-color;
        line-height: $font-nav-line-height;
    }
    a {
        color: $font-nav-color;
        font-size: $font-nav-size;
        text-decoration: none;
    }
}